<div id="titleDiv">

</div>
<div id="bankControlDiv">
    <div class="formCategoryDiv">
        <button mat-raised-button>Add Podcaster</button>
        <mat-form-field class="inputForm" appearance="outline">
            <mat-label>Podcaster Name</mat-label>
            <input matInput placeholder="Placeholder">
            <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
            <mat-hint>Add a podcaster's name</mat-hint>
        </mat-form-field>
    </div>
    <mat-divider></mat-divider>
    <div class="formCategoryDiv">
        <button mat-raised-button>Delete Podcaster</button>
    </div>
</div>
<div id="bankTableDiv">
    <app-bank-table></app-bank-table>
</div>
