.formCategoryCardContent
{
    margin: 10px;
    margin-top: 30px;
}
.inputForm
{
    display: inline-block;
    margin-left: 20px;
}
#LHGImg
{
    width: 200px;
}
#bobImg
{
    width: 200px;
}
#titleDiv
{

}
#bankControlCard
{
    display: inline-block;
    width: 40%;
    margin: 15px;
}
#bankTableDiv
{
    display: inline-block;
    width: 52%;
    margin: 15px;
    vertical-align: top;
}